/* App.css */
body {
  margin: 0;
  padding: 0;
  background-color: skyblue;
  color: blue;
}

.App {
  text-align: center;
  padding: 20px;
}

.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

input {
  margin-top: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid blue;
}
